In [58]:
import pandas as pd
dataset=pd.read_csv("Placement.csv")

In [59]:
#)Replace the NaN values with correct value. And justify why you have chosen the same.
dataset.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [60]:
#Replacing 'nan' with '0' is best for this 'salary' data so this dependent can retain the reliable prediction
#dropna will loose 67 row of data whisch is large lose.
#mostly prediction is happening based on salary dependent if repace with Mean then changes considered as students are getting
#the salary will give error prediction so choosen the fillna as '0'.
dataset_filled=dataset
dataset_filled=dataset_filled['salary']=dataset_filled['salary'].fillna(0)

In [61]:
dataset_filled.isnull().sum()

np.int64(0)

In [62]:
#2)How many of them are not placed?
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [63]:
notplaced=0
for value in dataset['status']:
    if value=='Not Placed':
        notplaced+=1
print(f"Number of student(s) not placed :{notplaced}")

Number of student(s) not placed :67

In [64]:
#3 Find the reason for non placement from the dataset?
#potential reasons are below
#degree pass mark of non-placement and placement students.
#degree pass mark and degree specilization of non-placement and placement students.
#entrance test pass mark of non-placement and placement students.
#degree pass mark,entrance test  and degree specilization of non-placement and placement students.
#MBA pass mark of non-placement and placement students.
#MBA pass mark and MBA specilization of non-placement and placement students.
#Hr.sec pass mark of  non-placement and placement students.
#Hr.sec- pass mark,board,specialization of  non-placement and placement students.
#ssc pass mark of  non-placement and placement students.
#ssc- pass mark,board,specialization of  non-placement and placement students.
#Gender with ssc/hr.sec/degree/e.test/mba- pass marks  of  non-placement and placement students.
#Gender with ssc/hr.sec/degree/e.test/mba- pass mark,board,specialization of  non-placement and placement students.